/* src/styles.css */
  

   * {
    text-align: center;
    /* girly font */
    font-family: 'Dancing Script', cursive;
    color: black;
    /* make images fit to width */
    max-width: 100%;
    /* background-color: whitesmoke; */
   }

   